body {
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

#kegiatan {
    padding: 50px 20px 50px 20px;
    width: 90%;
    text-align: center;
    margin: auto;
    background-color: aquamarine;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.boxes {
    display: grid;
    grid-template-columns: auto auto;
}
.box {
    padding: 20px;
}

.box img {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .boxes{
        display: grid;
        grid-template-columns: auto;
  }
}